---
- name: Playbook to set up ceph for DR
  hosts: localhost
  gather_facts: false
  become: false
  vars_files:
    - ../overrides.yml
  environment:
    KUBECONFIG: "{{ kubeconfig }}"
  tasks:
    - name: Print AWS infos
      ansible.builtin.debug:
        msg: "Region: {{ ocp_region }} - Cluster: {{ ocp_cluster_name }}.{{ ocp_domain }}"

    - name: Set OCP owner from AWS user
      ansible.builtin.include_tasks:
        file: owner.yml

    - name: Create templates folder
      tags:
        - lso1
        - ceph-disks
        - subscriptions
      ansible.builtin.file:
        path: "{{ templatefolder }}"
        state: directory
        recurse: true

    - name: Template LSO operator
      tags:
        - lso1
        - subscriptions
      ansible.builtin.template:
        src: ../templates/{{ item }}
        dest: "{{ templatefolder }}/{{ item }}"
        mode: "0644"
      loop:
        - lso-subscription.yaml

    - name: Apply LSO subscription
      tags:
        - lso1
        - subscriptions
      ansible.builtin.shell: |
        set -e
        {{ oc_bin }} apply -f "{{ templatefolder }}/{{ item }}"
      register: lso_apply
      until: lso_apply is not failed
      retries: 20
      delay: 10
      loop:
        - lso-subscription.yaml

    - name: Get Openshift worker nodes and their AWS instance IDs
      tags:
        - ceph_disks
        - always
      ansible.builtin.include_tasks:
        file: workers.yml
        apply:
          tags:
            - ceph_disks
            - always

    - name: debug
      tags:
        - ceph_disks
      ansible.builtin.debug:
        var: worker_ec2_ids

    - name: Create EBS io2 volume one per worker
      tags:
        - ceph_disks
      amazon.aws.ec2_vol:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        availability_zone: "{{ ocp_az }}"
        volume_size: "{{ ebs_volume_size_ceph }}"
        volume_type: "{{ ebs_volume_type }}"
        instance: "{{ item }}"
        iops: "{{ ebs_iops }}"
        device_name: "{{ ebs_device_name_ceph }}"
        tags:
          Name: "{{ ceph_volume_name }}-{{ item }}"
      register: ebs_volumes
      loop: "{{ worker_ec2_ids }}"

    - name: Debug ceph volumes
      tags:
        - ceph_disks
      ansible.builtin.debug:
        var: ebs_volumes

    - name: Check if all items have 'volume_id'
      tags:
        - ceph_disks
        - lso1
      assert:
        that: item.volume_id is defined
        fail_msg: "Missing volume_id in one of the results"
      loop: "{{ ebs_volumes.results }}"
      register: has_volume_id

    - name: Set ceph disks
      tags:
        - ceph_disks
        - lso1
      ansible.builtin.set_fact:
        ceph_disks: "{{ ebs_volumes.results | map(attribute='volume.id') | list }}"
      when: has_volume_id is failed

    - name: Set ceph disks if not created from scratch
      tags:
        - ceph_disks
        - lso1
      ansible.builtin.set_fact:
        ceph_disks: "{{ ebs_volumes.results | map(attribute='volume_id') | list }}"
      when: has_volume_id is not failed

    - name: Template LV
      tags:
        - lso1
      ansible.builtin.template:
        src: ../templates/{{ item }}
        dest: "{{ templatefolder }}/{{ item }}"
        mode: "0644"
      loop:
        - lso-lv.yaml

    - name: Apply LV
      tags:
        - lso1
      ansible.builtin.shell: |
        set -e
        {{ oc_bin }} apply -f "{{ templatefolder }}/{{ item }}"
      register: lso_apply
      until: lso_apply is not failed
      loop:
        - lso-lv.yaml

    - name: Template ceph files
      tags:
        - ceph1
        - subscriptions
      ansible.builtin.template:
        src: ../templates/{{ item }}
        dest: "{{ templatefolder }}/{{ item }}"
        mode: "0644"
      loop:
        - ceph-subscription.yaml
        - ceph-objectstore.yaml
        - ceph-route.yaml
        - ceph-storageclass.yaml
        - ceph-storagecluster.yaml

    - name: Apply ceph subscription
      tags:
        - ceph1
        - subscriptions
      ansible.builtin.shell: |
        set -e
        {{ oc_bin }} apply -f "{{ templatefolder }}/{{ item }}"
      register: ceph_apply
      until: ceph_apply is not failed
      retries: 20
      delay: 10
      loop:
        - ceph-subscription.yaml

    - name: Label the workers for ceph
      tags:
        - ceph1
      ansible.builtin.shell: |
        set -ex
        for node in $({{ oc_bin }} get nodes -l node-role.kubernetes.io/worker -o name)
        do
          {{ oc_bin }} label ${node} cluster.ocs.openshift.io/openshift-storage=''
        done

    - name: Apply ceph templates
      tags:
        - ceph1
      ansible.builtin.shell: |
        set -e
        {{ oc_bin }} apply -f "{{ templatefolder }}/{{ item }}"
      register: ceph_apply
      until: ceph_apply is not failed
      retries: 20
      delay: 10
      loop:
        - ceph-objectstore.yaml
        - ceph-route.yaml
        - ceph-storageclass.yaml
        - ceph-storagecluster.yaml
